<h2>Liste des livres</h2>

<!-- Barre de recherche -->
<form class="search-form">
  <input type="text" placeholder="Rechercher un livre" [(ngModel)]="searchTerm" name="searchTerm" class="search-input"> <!-- Champ d'entrée pour le terme de recherche, lié à la propriété searchTerm -->
  <button type="button" (click)="rechercher()" class="search-button">Rechercher</button> <!-- Bouton de recherche qui déclenche la méthode rechercher() lorsqu'il est cliqué -->
</form>

<table class="book-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Année de publication</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livre of livres"> 
      <td>{{ livre.id }}</td> 
      <td>{{ livre.intitule }}</td> 
      <td>{{ livre.auteur }}</td> 
      <td>{{ livre.anneePublication }}</td>
      <td>
        <button class="btn-delete" (click)="supprimerLivre(livre.id)">Supprimer</button> 
        <button class="btn-update" (click)="ouvrirFormulaireMiseAJour(livre)">Mettre à jour</button> 
      </td>
    </tr>
  </tbody>
</table>
